/* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Didact Gothic', sans-serif; 
font-family: 'Exo', sans-serif;   תוכן
font-family: 'Montserrat', sans-serif; תוכן */
*/ root {
  background: whitesmoke;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh;
  flex-direction: column;
}
#title h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 8vh;
  padding: 1vh;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
}
table {
  /* border-spacing: 0.5rem; */
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-radius: 5%;
}
td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}
td {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

th {
  font-family: "Didact Gothic", sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
  background-color: #54aa76da;
}
tr:nth-of-type(even) {
  background-color: #54aa762a;
}
tr:hover td {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h2{
  display: block;
}
#progress-section{
  display: flex;
  flex-direction: column;
}
progress {
  /* color: #e36414; */
  /* background-color: white; */
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
  display: block;
  width: 30vw;
  height: 3rem;

}
progress[value] {
}
